.h6_tit{
    color: #CDCDCD;
}

.line_grid{
    padding: 21px 16px;
    border-radius: 12px;
    background: #555D70;
    box-shadow: -24px 0px 80px 0px rgba(49, 79, 124, 0.02);
    color: white;
    display: flex;
    flex-direction: column;
    gap: 10px;
    height:25rem;
}


.dashboard{
    width: 78%;
    padding: 6px 6px 6px 12px;
    background: #F6F6F6;
    flex: 1;
    margin-top:77px;
    margin-left:250px;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 1rem;
    margin-right: 5px;
    /* height: 85%; */
}

.search_res{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.result_val{
    display: flex;
    align-items: center;
    gap: 6px;
}

.google_sear{
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: #EDEFFB;
    border-radius: 12px;
    padding: 10px;
    
}
.search_res>h4{
font-weight: 600;
}

.dash_checkbox{
    width: 20px;
    height: 20px;
}

.first_line{
    display: grid;
    grid-template-columns: 66% 33%;
    gap: 1%;
    margin-top: .6rem;
}

.line_div> canvas{
width: 100% !important;
}
.sec_line{
    display: grid;
    grid-template-columns: 24% 41% 33%;
    gap: 1%;
    /* margin-top: 10px; */
}

.speedochart{
border-radius: 12px;
background: #FFE81B;
box-shadow: -24px 0px 80px 0px rgba(49, 79, 124, 0.02);
padding: 10px;
display: flex;
flex-direction: column;
gap: 10px;
}

.speedo_title{
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 23px;
    font-weight: 500;
}

.speedo{
    width: 46%;
    margin: 0 auto;
}

.CircularProgressbar-text{
    font-weight: 600;
}


.loader_chart{
    border-radius: 12px;
    background: #D7D7D7;
    box-shadow: -24px 0px 80px 0px rgba(49, 79, 124, 0.02);  
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px; 
    justify-content: space-between;
    color: #646464;
}


.loader_cont{
    margin: 0 auto;
    width: 89%;
    text-align: center;
    display: grid;
    gap: 10px;
}

.loader_label{
    display: flex;
    justify-content: space-between;
}

.bar_class{
    background-color: white;
    border-radius: 10px;
}

.bar_class>div{
    border-radius: 10px 0 0 10px !important;
   
    background-color: #6E9CF7 !important;
}

.loader_title{
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 18px;
    font-weight: 600;
}

.label_loader{
    font-size: 12px;
    font-weight: 500;
}

.info_wid{
    border-radius: 12px;
    background: #FF6B00;
    box-shadow: -24px 0px 80px 0px rgba(49, 79, 124, 0.02);
    padding: 10px;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: space-around
}


/* @media screen and (min-width: 1300px) { */
    /* .first_line{
        display: flex;
        flex-direction: column;
        gap: 3%;
    }
    .sec_line{
        display: grid;
        grid-template-columns: 49% 49%;
        gap: 1%;
        margin-top: 10px;
    } */
   

     
/* 
     .sec_line{
        height: 32%;
     }

     .first_line{
        height: 66%;
     }
} */

/* @media screen and (max-width: 1300px){
    .sec_line{
        height: 40%;
     }

     .first_line{
        height: 70%;
     }

     .line_grid{
        height: 89%;
     }

     .line_div{
        height: 40vh;
     }
}

@media screen and (max-width: 1000px) {

     .dashboard{
        width: 85%;
        margin-left: 0;
        height: 88%;
     }
    }
/* 
    @media screen and (min-width: 1600px) {

        .dashboard{
           height: 90.5%;
        }
        .line_grid{
            height: 93.5%;
         }
       } */
    /* @media screen and (min-width: 1001px) and (max-width:1099px) {
       .dashboard{
        height: 90%;
        margin-right: 4px;
}
.line_grid{
    height: 92%;
 }
    }

    @media screen and (min-width: 1100px) and (max-width:1200px) {
    .dashboard{
        height: 90.5%;
        margin-right: 4px;
     }
    }
    
    @media screen and (min-width: 1210px) and (max-width:1270px) {
        .dashboard{
            margin-right: 5px;
            height: 88.5%;
          }
          .line_grid{
            height: 90%;
         }
    }
    @media screen and (min-width: 1271px) and (max-width:1280px) {
        .dashboard{
            margin-right: 5px;
            height: 85%;
          }
          .line_grid{
            height: 87%;
         }
    }

    @media screen and (min-width: 1281px) and (max-width:1299px) {
    .line_grid{
        height: 91%;
     }
     .dashboard{
        margin-right: 5px;
        height: 88.5%;
      }
} */

/* @media screen and (min-width: 1300px)and (max-width:1500px) {
    .dashboard{
      margin-right: 5px;
      height: 88%;
    }
    .line_grid{
        height: 90%;
     }
  }

@media screen and (min-width: 1501px)and (max-width:1599px) {
    .dashboard{
        height: 88%;
    }
    .line_grid{
        height: 94%;
     }
}
@media screen and (min-width: 1550px)and (max-width:1599px) {
    .dashboard{
        height: 88%;
    }
    .line_grid{
        height: 92%;
     }
}
@media screen and (min-width: 1600px) and (max-width:1800px) {
    .dashboard{
        margin-right: 5px;
        height: 88%;
    }
    .line_grid{
        height: 91%;
     }
}

@media screen and (min-width: 1810px) and (max-width:1899px) {
    .dashboard{
        margin-right: 5px;
        height: 88%;
    }
    .line_grid{
        height: 91%;
     }
}

@media screen and (min-width: 1900px) and (max-width:1950px) {
    .dashboard{
        margin-right: 5px;
        height: 88%;
    }
    .line_grid{
        height: 91%;
     }
}
@media screen and (min-width: 1955px) and (max-width:1999px) {
    .dashboard{
        margin-right: 5px;
        height: 88%;
    }
    .line_grid{
        height: 91%;
     }
} */

/* @media screen and (min-width: 2000px) and (max-width:2500px) {
    .dashboard{
        margin-right: 5px;
        height: 88.5%;
    }
    .line_grid{
        height: 91%;
     }
     .sec_line{
        height: 35%;
}
} */ 