* {
    font-family: "Poppins", sans-serif;
    font-size: 12px;
  }
  
  .support-container {
    background: #fff;
    /* width: 100%; */
    width: 79%;
    height: 86vh;
    margin-left:250px;
    margin-top: 81px;
    padding: 0 0 0 10px;
    background: #f6f6f6;
    border-radius: 12px;
  }

  @media screen and (min-width: 1300px) {
    /* .first_line{
        display: flex;
        flex-direction: column;
        gap: 3%;
    }
    .sec_line{
        display: grid;
        grid-template-columns: 49% 49%;
        gap: 1%;
        margin-top: 10px;
    } */
    .support-container{
        width: 85%;
     }
  
}