* {
  font-family: "Poppins", sans-serif;
  font-size: 12px;
}

.General {
  display: grid;
  grid-template-columns: 66% 30%;
  justify-content: space-between;
  width: 79%;
  margin-top: 77px;
  padding: 10px 10px;
  background: #f6f6f6;
  border-radius: 12px;
  margin-left: 250px;
  /* overflow: hidden; */
  /* background-color: red !important; */
}

.segmentation {
  padding: 13px 0 13px 0;
  /* overflow: hidden; */
}

.Geo-container {
  background: #eaeaea;
  padding: 15px 20px;
  border-radius: 8px;
}

.distributions {
  display: grid;
  gap: 30px;
  margin-top: 10px;
}

.flex-geo {
  display: flex;
  align-items: center;
  margin-top: 2rem;
  /* margin: 8px; */
  line-height: 2.5;
  /* border-radius: 8px; */
}

.flex-traffic {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}

.progress {
  width: 50%;
}

.flex-cont {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  /* width:50%; */
}

.countries {
  min-width: 240px;
  border-right: 1px solid #bdbdbd;
  /* padding-left: 4px; */
}

.Traffic {
  min-width: 240px;
}

.Traffic > div {
  padding-left: 1rem;
}

.Trend {
  min-width: 115px;
  text-align: right;
}

.countries > h3 {
  background: #b8b8b8;
  padding-left: 6px;
}

.countries > div {
  padding-left: 6px;
}

.Traffic > h3 {
  background: #d9d9d9;
  padding-left: 60px;
  padding-right: 294px;
}

.Trend > h3 {
  background: #d9d9d9;
  padding-right: 30px;
}

.Trend > div {
  padding-right: 30px;
}

.demographic {
  background: #eaeaea;
  padding: 15px 20px;
  border-radius: 8px;
  margin-top: 2rem;
}

.flex-income {
  display: flex;
  align-items: center;
  justify-content: space-around;
  /* width:50%; */
  gap: 12rem;
}

#h5 {
  font-size: 14px;
}

.demographic > div:nth-child(3) > h3 {
  margin-top: 3rem;
}

.demographic > h1 {
  font-size: 22px;
  font-weight: 600;
}
.flex-Edu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* gap: 24rem; */
  /* width: 50%; */
}

.flex-Edu > p {
  font-size: 16px;
  font-weight: 400;
}

.groupflex2 {
  line-height: 2.8;
  width: 100%;
}

.flex-Edu > h5 {
  font-size: 16px;
  font-weight: 600;
}

.flex-Edu1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* gap: 28rem; */
}

.flex-Edu1 > p {
  font-size: 14px;
  font-weight: 500;
}

.flex-Edu1 > h5 {
  font-size: 14px;
  font-weight: 600;
}

.Edu-progress {
  width: 100%;
}

.groupflex {
  width: 100%;
}

.Edu-Container {
  line-height: 2.2;
  margin-top: 2rem;
  display: flex;
  align-items: baseline;
  justify-content: start;
  gap: 3.5rem;
  width: 100%;
  /* display: flex;
  align-items: flex-start; */
}

/* .Text-house {
  width: 22%;
} */

.Income-cont {
  display: flex;
  align-items: baseline;
  justify-content: flex-start;
  gap: 6rem;
  margin-top: 3rem;
  width: 100%;
}

.gender-group {
  background: #b9b9b9;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 66%;
  /* padding: 12px 24px; */
  padding: 0px 8px 0 0px;
  border-radius: 6px;
}

.gender-cont {
  display: flex;
  align-items: baseline;
  gap: 6rem;
  margin-top: 2rem;
  /* justify-content: center; */
}

.female {
  background: #fd6333;
  padding: 12px 16px;
  border-radius: 6px;
  display: flex;
  gap: 5px;
  font-size: 16px;
  color: #fff;
}

.female > p {
  font-size: 16px;
  font-weight: 600;
}

.male > p {
  font-size: 16px;
  font-weight: 600;
}

.male {
  display: flex;
  gap: 5px;
  font-size: 16px;
}

.Employment-container {
  margin-top: 2rem;
  line-height: 2.5;
  display: flex;
  align-items: baseline;
  justify-content: start;
  gap: 1rem;
  width: 100%;
  /* display: flex;
  align-items: flex-start; */
}

.Age-container {
  margin-top: 2rem;
  display: flex;
  align-items: flex-start;
  width: 100%;
  gap: 9rem;
}

/* .Text{
  width: 10%;
} */

/* .bar-cont{
  width:50%;
} */
.flex-Aundience {
  display: flex;
  margin-top: 3rem;
  align-items: center;
  justify-content: space-evenly;
}

.outside-demographic {
  margin-top: 2rem;
}

.outside-demographic > h2 {
  font-size: 22px;
  font-weight: 600;
}

.Education {
  text-align: center;
}
/* .Education > span{
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
} */

h1 {
  font-size: 22px;
  /* font-weight: 500; */
}

span > h4 {
  font-size: 24px;
  font-weight: 700;
  color: #454545;
}

span > p {
  font-size: 14px;
  font-weight: 400;
  color: #7d7d7d;
}

.flex-ontop {
  display: flex;
  flex-direction: column;
  gap: -2px;
}

.flex-beside {
  display: flex;
  align-items: flex-start;
  gap: 6rem;
  line-height: 2;
}

.person > p {
  display: flex;
  align-items: center;
  gap: 8px;
}

.top_1 {
  height: 35px;
  width: 130px;
  margin-bottom: -5px;
  background: #dbdbdb;
  border-radius: 6px 6px 0px 0px;
}

.top_2 {
  height: 45px;
  width: 130px;
  margin-bottom: -5px;
  background: #b9b9b9;
  border-radius: 6px 6px 0px 0px;
}

.top_3 {
  height: 55px;
  width: 130px;
  margin-bottom: -5px;
  background: #7c7c7c;
  border-radius: 6px 6px 0px 0px;
}

.top_4 {
  height: 65px;
  width: 130px;
  margin-bottom: -5px;
  background: #5b5b5b;
  border-radius: 6px 6px 6px 6px;
}

.Household-container {
  gap: 3rem;
  display: flex;
  align-items: flex-start;
  margin-top: 3rem;
  width: 100%;
}

.flex-general {
  display: flex;
  align-items: baseline;
  gap: 2rem;
  justify-content: space-around;
  /* width: 65%; */
}

.person > p {
  font-size: 18px;
  font-weight: 400;
}

.percentage > p {
  font-size: 18px;
  font-weight: 400;
}

#heading {
  font-size: 22px;
  font-weight: 400;
}

.scrollbar::-webkit-scrollbar {
  width: 0;
  /* height: 2em */
}


@media screen and (max-width: 1140px){
  .countries{
    min-width: 200px;
  }
}

@media screen and (max-width: 2500px){
  .Household-container {
    gap:0;
  }
}

@media screen and (max-width: 2147px){
  .Household-container {
    gap:1rem;
  }
}

@media screen and (max-width: 1980px){
  .Household-container {
    gap:2rem;
  }
}

@media screen and (max-width: 1960px){
  .Household-container {
    gap:3rem;
  }
}

@media screen and (min-width: 1800px){
.General{
  width: 85%;
}
}


@media screen and (max-width: 1710px){
  .Household-container {
    gap:4rem;
  }
}

@media screen and (max-width: 1550px){
  .Household-container {
    gap:4.3rem;
  }
}

@media screen and (max-width: 1478px){
  .Household-container {
    gap:5rem;
  }
}

@media screen and (max-width: 1350px){
  .Household-container {
    gap:7rem;
  }
}

@media screen and (max-width: 1344px){
  .Household-container {
    gap:6rem;
  }
}

@media screen and (max-width: 1299px){
  .Household-container {
    gap:3rem;
  }
}

@media screen and (max-width: 1118px){
  .countries{
    min-width: 150px;
  }
}
@media screen and (min-width: 1300px) and (max-width: 1900px ) {
  .Text-house{
    width:18%;
  }
 
}

@media screen and (min-width: 1206px){
  .flex-beside{
    gap:3.5rem;
  }
}

@media screen and (max-width: 1210px) {
  #Age-bar{
    width:400px;
  }

  .bar-cont{
    width: 400px;
  }
}

@media screen and (min-width: 1300px) and (max-width: 1700px) {
  .General {
    width: 85%;
  }

  .Text-house{
    width:12%;
  }

  .Traffic{
    width:30%;
  }

  .countries{
    width: 30%;
  }

  .Trend{
    width:30%;
  }
}

@media screen and (max-width: 1295px){
  .bar-cont{
    width: 350px;
  }
}

@media screen and (max-width: 1295px){
  .flex-beside{
    gap:1.7rem;
  }
  
}

@media screen and (max-width: 1000px){
.General{
  display:flex;
  flex-direction: column;
  margin-left: 0;
  width: 100%;
}
}

@media screen and (max-width: 830px){
  .flex-beside{
    gap:2.5rem;
  }
 
  .countries{
    min-width: 217px;
  }

  .bar-cont{
    width: 400px;
  }
  
}

@media screen and (max-width: 1084px){
  .flex-beside{
    gap:1.2rem;
  }
  .person > p{
    font-size: 14px;
  }
.percentage > p {
  font-size: 14px;
}
}

@media screen and (min-width: 2000px){
  .General{
    width:90%;
  }
}

@media screen and (min-width: 1100px)and (max-width:1200px) {
  .General{
    width: 76%;
  }
}

@media screen and (min-width: 1300px)and (max-width:1500px) {
  .General{
    margin-right: 5px;
  }
}

@media screen and (min-width: 1600px) and (max-width:1800px) {
  .General{
    margin-right: 5px;
  }
}