* {
  font-family: "Poppins", sans-serif;
  font-size: 12px;
}

.General {
  background: #fff;
  display: grid;
  display: flex;
  grid-template-columns: 68% 31%;
  justify-content: space-between;
  gap: 1rem;
  /* padding: 13px; */
  border-radius: 8px;
  width: 76%;
}

.percent {
  width: 16%;
  background: #F9F9F9;
  padding: 12px 24px;
  height: 9em;
  margin-top: 2rem;
  border-radius: 6px;
}

.percent > span > p {
  font-size: 20px;
  font-weight: 500;
}

.percent > span > h3 {
  font-size: 28px;
}

.stats_wrapper {
  width: auto 90%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 2rem;
}

.competitive >h1 {
  font-size: 30px;
  font-weight: 600;
}

/* .competitive > h1{
    margin-top: 2rem;
  } */

.competitive {
  background: #E9E9E9;
  padding: 20px 20px;
  margin: 12px 5px;
  border-radius: 12px;
}

.market-share{
  margin: 12px 5px;
}

.market-price{
  margin: 12px 5px;
}

.Grid-socio {
  display: flex;
  flex-wrap: wrap;
  /* align-items: center; */
  width: 100%;
  /* gap:1rem; */
  /* justify-content: center; */
}

.socio {
  width: 52%;
}

.geography >h2{
  font-size: 20px;
  font-weight: 500;
  color: #747474;
}

.socio >h2{
  font-size: 20px;
  font-weight: 500;
  color: #747474;
}

.flex-target {
  display: flex;
  align-items: flex-start;
  margin-top: 2rem;
  width: 100%;
  justify-content: space-between;
}

.household {
  background: #f9f9f9;
  width: 41%;
  height: 81px;
  padding: 11px 12px;
}

#household {
  border-right: 1px solid #e7e7e7;
  border-radius: 6px 0 0 0;
  /* padding-left: 5px; */
}

#employment {
  border-right: 1px solid #e7e7e7;
  border-top: 1px solid #e7e7e7;
  border-radius: 0 0 0 6px;
}

#interest {
  /* border-right:1px solid #E7E7E7; */
  border-top: 1px solid #e7e7e7;
  border-radius: 0 0 6px 0;
}

#education {
  border-radius: 0 6px 0 0;
}

.household > span > p {
  font-size: 13px;
  color: #4D4D4D;
  font-weight: 500;
}

.household > span > h4 {
  font-size: 16px;
  color:#000;
  font-weight: 600;
}

.flex-geography {
  display: flex;
  align-items: center;
  gap: 2rem;
  border-radius: 8px;
  background: #f9f9f9;
  padding: 6px 12px;
  line-height: 2.8;
}

p {
  font-size: 12px;
}

h3 {
  font-size: 12px;
}

/* .countries{
    min-width: 100px;
  } */

.market-price > h2 {
  font-size: 30px;
  font-weight:600;
}

.geography {
  width: 46%;
}

#share-table {
  margin: 25px 0;
  width: 100%;
  border-spacing: 0;
  border-radius: 6px;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.head{
  border-bottom: 1px solid #dddddd;
}

table thead tr {
  /* background-color: #009879; */
  color: #ffffff;
  text-align: left;
  font-weight: bold;
}

.stat th,
.stat td {
  padding: 8px 5px;
  /* padding: 8px 5px; */
    color: #444444;
    font-size: 12px;
    font-weight: 500;
    border-bottom: 1px solid #C3C3C3;
}

#share-head{
  text-align: center;
  font-size: 10px;
  font-weight: 500;
}

#head{
  background:#F9F9F9;
}


#row:nth-child(odd){
  background: #F6F6F6;
  color:red;
  color: #4D4D4D;
}

#share-content:nth-child(odd){
  background: #F6F6F6;
}

#share-head{
  background: #F6F6F6;
  padding: 8px;
  color: #505050;
}

#share-content{
  color: #767676;
  text-align: center;
}

#row:nth-child(even){
  background: #FAFAFA;
  color:#4D4D4D
}

th{
  /* border-right:1px solid #dddddd; */
  /* text-align: center; */
  color: #000;
  /* background: #F9F9F9; */
}

td{
  /* border-right:1px solid #dddddd; */
}

#column{
  border: none ;
  text-align: left;
}

#coluumn{
  border: none ;
  text-align: center; 
  color:#06B818
}

#colummn{
  border: none ;
  text-align: center; 
  color:#E01717
}

/* .column:last-of-type{
  border-right:1px solid #dddddd;
} */


td:last-of-type{
  border: none;
}

/* table tbody tr {
  border-bottom: 1px solid #dddddd;
} */

.stat{
  /* font-size: 0.9em; */
  width: 100%;
  border-spacing: 0;
  border-radius: 12px;
  margin-top: 2px;
}

/* table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
} */

table tbody tr:last-of-type {
  /* border-bottom: 2px solid #009879; */
}

table tbody tr.active-row {
  font-weight: bold;
  /* color: #009879; */
}

.coming-soon {
  background: linear-gradient(0deg, #b4b4b4 0%, #dcdcdc 57.6%, #f3f3f3 100%);
  padding: 150px 12px 12px 12px;
  border-radius: 6px;
}

.coming-soon > h3 {
  font-size: 30px;
  color: #E1E1E199;
}

.market-share > h1 {
  margin-top: 2rem;
  font-size: 30px;
  font-weight: 600;
}
/* .table-statistics{
  
} */

/* tr >img{
  height: ;
} */
/* .countries-cont >h3{
  border-bottom: 1px solid #bdbdbd;
  }

  .Traffic-cont >h3{
    border-bottom: 1px solid #bdbdbd;
  }

  .changes-cont > h3{
    border-bottom: 1px solid #bdbdbd;
  }

  
   */

   @media screen and (min-width: 1300px) {
    /* .first_line{
        display: flex;
        flex-direction: column;
        gap: 3%;
    }
    .sec_line{
        display: grid;
        grid-template-columns: 49% 49%;
        gap: 1%;
        margin-top: 10px;
    } */
     .General{
        width: 85%;
     }
  
}
   @media screen and (max-width: 1000px){
    .General{
      display: flow;
    }
   }