.sidebar {
  border-right-width: 0 !important;
  position: sticky !important;
}

.css-kpxwru {
  position: sticky !important;
  top: var(--sl-header-height);
  z-index: 99999999;
  height: unset !important;
  border-radius:10px;

}

.limited_sidebar {
  background-color: #131313;
  height: calc(100vh - var(--sl-header-height));
  display: flex;
  flex-direction: column;
  gap: 1rem;
  /* justify-content: space-between; */
  padding: 0 5px;
}

/* .Group-info {
  margin-top: 4rem;
} */

.user_info {
  background-color: #232323;
  border-radius: 10px;
  padding: 10px 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-bottom: 10px;
}

.user_img {
  position: relative;
  width: 70px;
  height: 70px;
  border-radius: 50%;
}

.user_img > img {
  width: 100%;
  object-fit: cover;
  border-radius: 50px;
}

.user_status {
  position: absolute;
  bottom: 0;
  border-radius: 6.25rem;
  background: linear-gradient(
    180deg,
    #ffdb59 0%,
    rgba(225, 179, 14, 0.97) 50%,
    rgba(170, 136, 16, 0.96) 100%
  );
  font-size: 0.5rem;
  color: white;
  padding: 5px;
  text-align: center;
  width: 57%;
  margin: auto;
  left: 0px;
  right: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.user_data {
  color: white;
}

.css-1sq2t7w > .ps-menu-button {
  border-radius: 10px;
}
.css-1almjat > .ps-menu-button:hover {
  border-radius: 10px;
}

/* .support{
    margin-top: 2rem;
} */

.Support {
  margin-top: 3rem;
}
